@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.AccountNumber)
        </dd>
        @foreach (var item in Model.OrderProducts)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Product.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Product.Title)
            </dd>
        }
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.OrderId" asp-controller="Orders">Complete Order</a>

    </div>
</div>
