@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">List of Products</a> 
            </td>
        </tr>
        }
        @*@for (var i = 0; i < 3; i++)
        {
            <p>Line @i</p>
}*@
    </tbody>
</table>
